/* src/components/Footer/Footer.module.css */
.footerContainer {
  background-color: #252525; /* Uma cor forte para o rodapé */
  color: #ffff; /* Texto branco */
  padding: var(--spacing-xxl) var(--spacing-xl) var(--spacing-lg);
  font-size: var(--font-size-sm);
  text-align: center;
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas para desktop */
  gap: var(--spacing-xxl);
  text-align: left;
  margin-bottom: var(--spacing-xl);
}

.footerSection h3 {
  font-size: var(--font-size-md);
  color: #dfdddd; /* Cor de destaque para títulos */
  margin-bottom: var(--spacing-md);
}

.logoLink {
  display: inline-block;
  margin-bottom: var(--spacing-md);
}

.logoLink img {
    filter: brightness(0) invert(1); /* Tenta transformar um logo escuro em branco se precisar */
    height: auto;
}

.description {
  line-height: 1.6;
  margin-bottom: var(--spacing-md);
  color: var(--text-color-light); /* Uma cor mais clara para o texto */
}

.socialIcons {
  display: flex;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-md);
}

.socialIcons a {
  color: var(--secondary-color); /* Ícones brancos */
  font-size: var(--font-size-lg);
  transition: color 0.3s ease, transform 0.3s ease;
}

.socialIcons a:hover {
  color: #8d31e4; /* Destaque no hover */
  transform: scale(1.1);
}

.linksList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linksList li {
  margin-bottom: var(--spacing-xxs);
}

.linksList a {
  color: var(--text-color-light);
  text-decoration: none;
  transition: color 0.3s ease;
}

.linksList a:hover {
  color: #8d31e4;
}

.footerSection p {
  margin-bottom: var(--spacing-xxs);
  line-height: 1.5;
  color: var(--text-color-light);
}

.copyRight {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: var(--spacing-md);
  margin-top: var(--spacing-xl);
  text-align: center;
  color: var(--text-color-light);
  font-size: var(--font-size-sm);
}

/* Media Queries para Responsividade */
@media (max-width: 992px) {
  .contentWrapper {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
    gap: var(--spacing-xl);
  }
  .footerSection:last-child { /* Move a última seção para a segunda linha */
    grid-column: span 2;
    text-align: center;
  }
  .socialIcons {
    justify-content: center; /* Centraliza ícones em 2 colunas */
  }
}

@media (max-width: 768px) {
  .footerContainer {
    padding: var(--spacing-xl) var(--spacing-md) var(--spacing-lg);
  }
  .contentWrapper {
    grid-template-columns: 1fr; /* 1 coluna em mobile */
    gap: var(--spacing-lg);
    text-align: center;
  }
  .socialIcons {
    justify-content: center; /* Centraliza ícones em 1 coluna */
  }
  .footerSection {
    margin-bottom: var(--spacing-lg);
  }
  .footerSection:last-child {
    grid-column: auto;
  }
}