# Ignorar node_modules (NUNCA deve ser comitado)
node_modules/

src/public/

# Ignorar arquivos de configuração do Firebase Admin SDK
firebase-adminsdk.json

# Ignorar arquivos de variáveis de ambiente
.env
.env.local

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de lock do npm e yarn
package-lock.json
yarn.lock

# Ignorar diretórios do TypeScript
dist/
build/

# Ignorar arquivos do sistema operacional (opcional)
.DS_Store

# firebase
**/*firebase-adminsdk*.json

# Prisma
# src/generator

