services:
  postgres:
    image: postgres:18
    container_name: aura-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGHOST: ${PGHOST}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      # - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
  backend:
    build: .
    container_name: aura-backend
    restart: always
    depends_on:
      - postgres
    environment:
      DATABASE_URL: ${DIRECT_URL}
      NODE_ENV: development
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    command: npm run dev

volumes:
  pgdata:
