services:
  backend:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    container_name: aura-backend
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "3001:3001"
    volumes:
      - .:/app
    command: npm run dev
