/* src/layouts/MainLayout.module.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.mainContent {
  flex-grow: 1; 
  
  padding-top: calc(var(--header-height) + var(--spacing-lg)); 
}

:root {
  --header-height: 60px; 
}

@media (max-width: 768px) {
  .mainContent {
    padding-top: calc(var(--header-height-mobile) + var(--spacing-md)); /* Um padding menor para mobile */
  }
  :root {
    --header-height-mobile: 60px; /* Altura aproximada do seu header em mobile */
  }
}