/* src/modules/Home/SuccessCasesSection/SuccessCasesSection.module.css */
.sectionContainer {
  max-width: 1420px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-color-light); /* Fundo suave para contraste */
  color: var(--text-color-primary);
}

.sectionContainer h2 {
  color: var(--primary-color);
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-md);
}

.subtitle {
  font-size: var(--font-size-lg);
  color: var(--text-color-secondary);
  margin-bottom: var(--spacing-xxl);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Slider horizontal contínuo */
.sliderViewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: var(--spacing-xl);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  /* border-radius: var(--border-radius-md); */
  padding: 10px 0;
  /* background-color: white; */
  /* box-shadow: 0 -4px 12px -6px rgba(0, 0, 0, 0.08),
    0 4px 12px -6px rgba(0, 0, 0, 0.08); */
}

.sliderTrack {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
  width: max-content;
  animation: scrollX 120s linear infinite; /* velocidade lenta e contínua */
}

.slideItem {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-color);
}

.logoImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .slideItem {
    width: 160px;
    height: 80px;
  }
}

@media (max-width: 576px) {
  .slideItem {
    width: 140px;
    height: 70px;
  }
}
