/* src/components/Button/Button.module.css */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-md);
  font-weight: 600;
  transition: background-color var(--transition-speed),
    color var(--transition-speed), transform var(--transition-speed),
    box-shadow var(--transition-speed);
  text-align: center;
  white-space: nowrap; /* Evita que o texto quebre linha */
}

/* Variantes de cor */
.primary {
  background-color: #711cd3;
  color: var(--secondary-color);
}
.primary:hover {
  background-color: #711cd3; /* Um tom mais escuro */
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-sm);
}

.secondary {
  background-color: var(--bg-color-light);
  color: var(--text-color-primary);
  border: 1px solid var(--border-color);
}
.secondary:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-sm);
}

.accent {
  background-color: var(--accent-color); /* Verde */
  color: var(--secondary-color);
}
.accent:hover {
  background-color: #711cd3; /* Um tom mais escuro */
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-sm);
}

.outlined {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.outlined:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: var(--box-shadow-sm);
}

/* Tamanhos */
.small {
  padding: var(--spacing-xxs) var(--spacing-sm);
  font-size: var(--font-size-sm);
}

.medium {
  padding: var(--spacing-xs) var(--spacing-md);
  font-size: var(--font-size-md);
}

.large {
  padding: var(--spacing-md) var(--spacing-lg);
  font-size: var(--font-size-lg);
}

.fullWidth {
  width: 100%;
}

/* Estados de acessibilidade */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
